<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594521192806-l7j75sak13uoi46mvluifi4haok36ipe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594521192806-l7j75sak13uoi46mvluifi4haok36ipe</string>
	<key>API_KEY</key>
	<string>AIzaSyBBxGPmhMX88c16BJNpv3hge5FrBbhhW5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>594521192806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractice202204</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-98d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-98d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594521192806:ios:b730b123c2bafc1b8cb0a7</string>
</dict>
</plist>